body {
  background-image: url("/Asset/img/braid/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
:root{
    --border-radius-default: 20px;
}
/* @font-face {
  font-family: Poppins;
  src: url(/Asset/Font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Roboto Slab;
  src: url(/Asset/Font/RobotoSlab-VariableFont_wght.ttf);
} */
.container{
  width: 100%;
  max-width: 1320px;
  margin: 40px auto;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  margin: 240px 0;
  position: relative;
}
.sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-sizing: border-box;
}
.image{
  position: absolute;
  top: -120px;
  filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.1));
  align-self: center;
  }
.name{
  display: flex;
  justify-content: center;
  margin: 140px 0 15px 0;
  font-family: 'Roboto Slab';
  font-size: 26px;
  font-weight: 500;
}
.designation{
  margin: 0 auto;
  padding: 5px 20px;
  background: #F3F6F7;
  border-radius: 8px;
}
.text_designation{
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 25px;
}
.social_icons{
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 10px auto 0 auto;
}
.icon_social{
  margin-top: 10px;
}
.card{
  width: 305px;
  height: 246px;
  margin: 30px 30px auto 30px;
  padding: 30px 0 20px 30px;
  background: #F3F6F6;
  border-radius: 16px;
}
.line{
  margin-right: 30px;
  margin-top: -5px;
  margin-bottom: -15px;
  border: 1px solid #E3E3E3;
  border-radius: 25px;
}
.tittle_card{
  color: #44566C;
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 0px;
  font-weight: 400;
  font-size: 12px;
}
.text_card{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}
.phone {
  display: flex;
}
.mail {
  display: flex;
  margin-top: 20px;
}
.local {
  display: flex;
  margin-top: 20px;
}
.birthday {
  display: flex;
  margin-top: 20px;
}
.download_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:  215px;
  height: 55px;
  margin: 30px auto 40px 92px;
  background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
  gap: 10px;
  border-radius: 10px;
  border: hidden;
}
.download_button:hover{
  background: linear-gradient(153.43deg, #fc4a1a 16.67%, #f7b733 100%);
}
.nav{
  display: flex;
  right: 0;
  position: absolute;
  padding: 30px 10px 30px 30px;
  background-color: #FFFFFF;
  transition: 0.8s ease-in-out;
  border-radius: 16px;
}
.icon_item{
  width: auto;
  height: 25px;
}
.text_item{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 13px;
}
.nav_item{
  width: 84px;
  height: 84px;
  margin-right: 20px;
  border-radius: 12px;
  line-height: 1px;
  border: hidden
}
.nav_item:hover{
  background: linear-gradient(153.43deg, #c6ffdd 16.67%, #fbd786 100%);
  border-radius: 45px;
}
.nav_item.active {
  background: linear-gradient(153.43deg, #fa5252 16.67%, #ab0550 100%);
}
.nav:last-child {
  margin-right: 0;
}
.nav_item.active .text_item {
    filter: brightness(0) invert(1);
  }
.nav_item.active .icon_item{
  filter: brightness(0) invert(1);
}
.nav_item.active:hover{
  background: linear-gradient(153.43deg, #e9948c 16.67%, #d2050cb7 100%);
}
.main{
  width: auto;
  height: auto;
  margin: 184px 0px 0px 40px;
  background-color: #FFFFFF;
  border-radius: var(--border-radius-default);
}
.header{
  display: flex;
}
.bar{
  margin-top: 75px;
  margin-left: 30px;
  }
.tittle_about{
  margin: 0px 0 18px 0;
  padding: 20px 0 0 60px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
 }
.first_content{
  margin: -28px 144px 0 0;  
  padding-left: 60px;
  color: #44566C;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
 }
.second_content{
  margin: 20px 144px 0 0;
  padding-left: 60px;
  color: #44566C;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
 }
.skill_section{
  display: flex;
  margin-top: 60px;
  padding-bottom: 60px;
  background: #F8FBFB;
  line-height: 0px;
 }
.skill{
  width: 39.2%;
  padding-left: 60px;
 }
.tittle_skill{
  margin-top: -26px;
  padding-top: 60px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
 }
.singer_skill_bar{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: -3px;
  color: #44566C;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
 }
progress {
  width: 100%;
  height: 6px;
  border: none;
}
.skill_percent_html progress::-webkit-progress-value {
  background: #FF6464;
  border-radius: 18px;
}
.skill_percent_css progress::-webkit-progress-value {
  background: #9272D5;
  border-radius: 18px;
}
.skill_percent_javascrip progress::-webkit-progress-value {
  background: #5185D5;
  border-radius: 18px;
}
.skill_percent_reacjs progress::-webkit-progress-value {
  background: #CA56F2;
  border-radius: 18px;
}
progress::-webkit-progress-bar {
  background: #EDF2F2;
  border-radius: 18px;
}
.knowledges{
  width: 50%;
  margin-left: 30px;
  padding-top: 60px;
}
.tittle_knowledges{
  margin-top: -26px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}
.collective_tab{
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 12px;
}
.single_tab{
  padding: 5px 20px;
  margin-top: 8px;
  color: #44566C;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  background: #EDF2F2;
  border-radius: 8px;
}
.education_experience{
  display: flex;
}
.education{
  width: 50%;
}
.text_box_education{
  max-width: 320px;
}
.education_header{
  display: flex;
  margin: 60px 0 0 60px;
  gap: 10px;
}
.icon_education{
  margin-top: 6px;
}
.tittle_education{
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
}
.collective_education_info{
  margin-left: 60px;
}
.time{
  margin: 0px 0 0 20px;
  padding-top: 1px;
  color: #44566C;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
}
.text_education_bold_style{
  margin-top: -5px;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.text_education_smoke_style{
  color: #44566C;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}
.text_education{
  margin-left: 20px;
}
.single_education_info:nth-child(1) {
  height: 120px;
  margin-top: 20px;
  background: #FFF4F4 ;
  border-radius: 12px;
}
.single_education_info:nth-child(2) {
  height: 120px;
  margin-top: 20px;
  background:  #EEF5FA ;
  border-radius: 12px;
}
.single_education_info:nth-child(3) {
  height: 120px;
  margin-top: 20px;
  background: #FCF4FF;
  border-radius: 12px;
}
.experience{
  width: 50%;
  margin-right: 60px;
}
.text_experience{
  margin-left: 20px;
}
.experience_header{
  display: flex;
  margin: 60px 0 0 30px;
  gap: 10px;
}
.icon_experience{
  width: 38px;
  margin-top: 4px;
}
.tittle_experience{
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
}
.collective_experience_info{
  margin-left: 30px;
}
.text_experience_bold_style{  
  margin-top: -5px;
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 30px;
}
.text_experience_smoke_style{
  color: #44566C;
  font-size: 16px;
}
.single_experience_info:nth-child(1) {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  background: #FFF1FB ;
  border-radius: 12px;
}
.single_experience_info:nth-child(2) {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  background: #F2F4FF;
  border-radius: 12px;
}
.single_experience_info:nth-child(3) {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  background: #FCF9F2 ;
  border-radius: 12px;
}
.text_box_experience{
  max-width: 195px;
  height: 90px;
}
.clients_section{
  width: 100%;
  height: 237px;
  margin-top: 60px;
  background: #F8FBFB;
  line-height: 0px;
}
.tittle_clients{
padding-top: 40px;
text-align: center;
font-family: 'Poppins';
font-size: 28px;
font-weight: 500;
line-height: 42px;
}
.brand{
display: flex;
justify-content: space-between;
margin: 30px 61px 0;
}
.all_rights_reserved{
color: #44566C;
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
}

 
 
 
 

