@media screen and (max-width: 1200px){
    .wrapper{
        display: unset;
    }
    .sidebar{
        width: 100%;
        height: auto;
        margin-top: 120px;
    }
    .image{
        top: 60px;
        left: 60px;
    }
    .name{
        justify-content: unset;
        margin: 140px 0 15px 330px;
    }
    .designation{
        margin: 0 auto auto 330px;
    }
    .social_icons{
        margin: 10px auto 0 330px;
    }
    .card{
        width: auto;
        margin-left: 330px;
    }
    .download_button{
        align-self: center;
        margin-left: 330px  ;
    }
    .nav{
      flex-direction: column;
      position: fixed;
      right: unset;
      left: -113px;
      top: 60px;
      transform: scale(0.8);
      transition: 0.5s ease-in-out;
    }
    .nav:hover{
        left: -20px;
    }
    .nav_item{
      margin-bottom: 20px;
    }
    .main{
        margin: unset;
        margin: 30px 0px 0px 0px;
    } 
    .first_content{
        max-width: none;
        margin-right: 60px;
    }
    .second_content{
        max-width: none;
        margin-right: 60px;
    }
    .skill{
        width: 42%;
    }
    .collective_tab{
        margin-right: 60px;
    }
}
@media screen and (max-width: 768px){
    .image{
        align-self: center;
        left: unset;
    }
    .name{
        justify-content: center;
        margin: 320px 0 15px 0;
    }
    .designation{
        margin: 0 auto;
    }
    .social_icons{
        margin: 10px auto;
    }
    .card{
        align-self: center;
        width: 340px;
        margin-left: unset;
        margin-right: unset;
    }
    .download{
        align-self: center;
    }
    .download_button{
        margin-left: unset;
    }
    .download_button button{
        align-self: center;
    }
    .bar{
        margin-right: 60px;
    }
    .skill{
        width: auto;
        margin-right: 60px;
    }
    .skill_section{
        display: unset;
    }
    .knowledges{
        width: 100%;
        padding-right: 60px;
        padding-left: 30px;
    }
    .collective_tab{
        padding-right: 60px;
    }
    .education_experience{
        display: unset;
    }
    .education{
        width: 100%;
    }
    .single_education_info:nth-child(1) {
        margin-right: 60px;
      }
    .single_education_info:nth-child(2) {
        margin-right: 60px;
      }
    .single_education_info:nth-child(3) {
        margin-right: 60px;
      }
    .experience{
        width: 100%;
        margin-left: 30px;
    }
    .single_experience_info:nth-child(1) {
        width: auto;
        margin-right: 90px;
      }
    .single_experience_info:nth-child(2) {
        width: auto;
        margin-right: 90px;
      }
    .single_experience_info:nth-child(3) {
        width: auto;
        margin-right: 90px;
      }
    .clients_section{
        height: auto;
    }
    .brand{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .brand img{
        margin-bottom: 30px;
        margin-right: 10px;
    }
    .all_rights_reserved{
        margin-top: 30px;
    }
}
@media screen and (max-width:480px){
    .sidebar{
        height: 100%;
    }
    .card{
        max-width: fit-content;
        width: auto;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 30px;
    }
    .phone{
        display: unset;
        text-align: center;
    }
    .mail{
        display: unset;
        text-align: center;
        margin-top: 10px;
    }
    .local{
        display: unset;
        text-align: center;
    }
    .birthday{
        display: unset;
        text-align: center;
    }
    .mail_icon{
        margin-top: 30px;
    }
    .local_icon{
        margin-top: 30px;
    }
    .birthday_icon{
        margin-top: 30px;
    }
    .tittle_text_card{
        margin-bottom: 30px;
    }
    .header{
        display: unset;
    }
    .bar{
        margin-bottom: 55px;
        margin-top: -25px;
        margin-left: 60px;
    }
    .single_education_info:nth-child(1){
        height: auto;
    }
    .single_education_info:nth-child(2){
        height: auto;
    }
    .single_education_info:nth-child(3){
        height: auto;
    }
    .single_experience_info:nth-child(1){
        height: auto;
    }
    .single_experience_info:nth-child(2){
        height: auto;
    }
    .single_experience_info:nth-child(3){
        height: auto;
    }
    .text_box_experience{
        height: auto;
    }
   .clients_section{
        height: auto;
    }
    .brand  img{
        margin-bottom: 50px;
    }
    .text_education{
        margin-right: 20px;
    }
}